<html>
    <body>
        <table>
            <thead>
                <tr>
                    <td>Nome</td>
                    <td>Sobrenome</td>
                    <td>CPF</td>
                    <td>Email</td>
                    <td>Sexo</td>
                    <td>Nascimento</td>
                    <td>Senha</td>
                    <td>Cidade</td>
                    <td>Estado</td>
                    <td>CEP</td>
                    <td>Telefone</td>
                </tr>
            </thead>
            <tbody>
                <% usuarios = UsuariosComun.all %>
                <% usuarios.each do |comum| %>
                    <tr>
                        <td><%= comum.nome %></td>
                        <td><%= comum.sobrenome %></td>
                        <td><%= comum.cpf %></td>
                        <td><%= comum.email %></td>
                        <td><%= comum.sexo %></td>
                        <td><%= comum.nascimento %></td>
                        <td><%= comum.senha %></td>
                        <td><%= comum.cidade %></td>
                        <td><%= comum.estado %></td>
                        <td><%= comum.cep %></td>
                        <td><%= comum.telefone %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </body>
</html>