<html>
    <body>
    <%= icon('fa-brands', 'font-awesome')%>
    <%= icon('fa-solid', 'user-secret')%>
    <%= icon('fa-regular', 'bell')%>
        <table>
            <thead>
                <tr>
                    <td>Nome</td>
                    <td>Descricao</td>
                    <td>Categoria</td>
                    <td>Numero</td>
                    <td>Estado</td>
                    <td>Bairo</td>
                    <td>Cidade</td>
                    <td>Cep</td>
                    <td>Telefone</td>
                    <td>Site</td>
                    <td>Pontuação</td>
                    <td>Email</td>
                </tr>
            </thead>
            <tbody>
                <% @estabelecimentos.each do |estabelecimento| %>
                    <tr>
                        <td><%= estabelecimento.nome %></td>
                        <td><%= estabelecimento.descricao %></td>
                        <td><%= estabelecimento.categoria %></td>
                        <td><%= estabelecimento.numero %></td>
                        <td><%= estabelecimento.estado %></td>
                        <td><%= estabelecimento.bairro %></td>
                        <td><%= estabelecimento.cidade %></td>
                        <td><%= estabelecimento.cep %></td>
                        <td><%= estabelecimento.telefone %></td>
                        <td><%= estabelecimento.site %></td>
                        <td><%= estabelecimento.pontuacao %></td>
                        <td><%= estabelecimento.email %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </body>
</html>